<section class="content-header">
    <h1>
        Danh sách sản phẩm
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Trang chủ</a></li>
        <li><a ui-sref="products">Danh mục sản phẩm</a></li>
        <li class="active">Sửa sản phẩm</li>
    </ol>
</section>
<!-- Main content -->
<section class="content">
    <!-- Default box -->
    <!-- Horizontal Form -->
    <div class="box box-info">
        <div class="box-header with-border">
            <h3 class="box-title">Sửa sản phẩm {{products.Name}}</h3>
        </div>
        <!-- /.box-header -->
        <!-- form start -->
        <form class="form-horizontal" novalidate name="frmUpdateProduct" role="form" ng-submit="updateProduct()">
            <div class="box-body">
                <div class="form-group">
                    <label for="inputPassword3" class="col-sm-2 control-label">Danh mục cha</label>
                    <div class="col-sm-10">

                        <select type="text" ng-change="getOrdMenu(products.idCate)" name="idCate" class="form-control" ng-model="products.idCate">
                            <option selected value="">== Chọn danh mục cha ==</option>
                            <option ng-repeat="item in flatFolders" ng-value="{{item.id}}" value="{{item.id}}">
                                {{ item.indent }} {{ item.name }}
                            </option>
                        </select>
                    </div>
                    <input name="parentID" type="hidden" ng-model="products.idCate" />
                </div>
                <div class="form-group">
                    <label for="inputEmail3" class="col-sm-2 control-label">Tên sản phẩm</label>
                    <div class="col-sm-10">
                        <input ng-keyup="keyupName()" type="text" class="form-control" ng-maxlength="150" required name="name" ng-model="products.Name">
                        <label class="control-label"><input type="checkbox" name="renameURL" ng-model="renameUrl" ng-checked="renameUrl" checked /> Thay đổi đường dẫn</label>

                        <span ng-show="frmUpdateProduct.name.$invalid" class="has-error">(*) Bắt buộc</span>
                        <span ng-show="frmUpdateProduct.name.$error.maxlength" class="has-error">Tên sản phẩm chỉ được nhập 150 ký tự</span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputPassword3" class="col-sm-2 control-label">Mô tả</label>
                    <div class="col-sm-10">
                        <textarea class="form-control" name="description" required ng-maxlength="255" ng-model="products.Description"></textarea>
                        <span ng-show="frmUpdateProduct.description.$invalid" class="has-error">(*) Bắt buộc</span>
                        <span ng-show="frmUpdateProduct.description.$error.maxlength" class="has-error">Mô tả sản phẩm chỉ được dưới 255 ký tự</span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputPassword3" class="col-sm-2 control-label">Giới thiệu</label>
                    <div class="col-sm-10">
                        <textarea class="form-control" ckeditor="ckeditorOptions" name="content" ng-model="products.Info"></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputPassword3" class="col-sm-2 control-label">Nội dung</label>
                    <div class="col-sm-10">
                        <textarea class="form-control" ckeditor="ckeditorOptions" name="content" ng-model="products.Content"></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputPassword3" class="col-sm-2 control-label">Thông số kỹ thuật</label>
                    <div class="col-sm-10">
                        <textarea class="form-control" ckeditor="ckeditorOptions" name="content" ng-model="products.Parameter"></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputPassword3" class="col-sm-2 control-label">Hình ảnh</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" name="images" ng-model="products.ImageLinkDetail">
                        <button class="btn btn-default" type="button" ng-click="chooseImage()">Chọn ảnh</button>
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputPassword3" class="col-sm-2 control-label">Hình ảnh khác</label>
                    <div class="col-sm-10">
                        <ul class="list-inline">
                            <li ng-repeat="img in moreImages"><img src="{{img}}" width="100" />  <a ng-click="deleteMoreImages(img)"><span class="fa fa-trash"></span></a></li>
                        </ul>
                        <button class="btn btn-default" type="button" ng-click="chooseMoreImage()">Thêm ảnh</button>
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputPassword3" class="col-sm-2 control-label">Giá niêm yết</label>
                    <div class="col-sm-5">
                        <input type="text" class="form-control" name="price" ng-model="products.Price">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputPassword3" class="col-sm-2 control-label">Giá khuyến mại</label>
                    <div class="col-sm-5">
                        <input type="text" class="form-control" name="priceSale" ng-model="products.PriceSale">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputPassword3" class="col-sm-2 control-label">Thời gian bảo hành</label>
                    <div class="col-sm-1">
                        <input type="text" class="form-control" name="warranty" ng-model="products.Warranty">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputPassword3" class="col-sm-2 control-label">Phụ kiện đi kèm</label>
                    <div class="col-sm-10">
                        <textarea class="form-control" name="access" ng-model="products.Access"></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputPassword3" class="col-sm-2 control-label">Khuyến mại thêm</label>
                    <div class="col-sm-10">
                        <textarea class="form-control" name="sale" ng-model="products.Sale"></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputPassword3" class="col-sm-2 control-label">Thông tin khác</label>
                    <div class="col-sm-10">
                        <div class="col-sm-3">
                            <label> <input type="checkbox" name="transport" ng-model="products.Transport" ng-checked="products.Transport"> : Vận chuyển </label>
                        </div>
                        <div class="col-sm-3">
                            <label> <input type="checkbox" name="vat" ng-model="products.Vat" ng-checked="products.Vat"> : Thuế (VAT) </label>
                        </div>
                        <div class="col-sm-3">
                            <label> <input type="checkbox" name="productSale" ng-model="products.ProductSale" ng-checked="products.ProductSale"> : Khuyến mại </label>
                        </div>
                        <div class="col-sm-3">
                            <label> <input type="checkbox" name="status" ng-model="products.Status" ng-checked="products.Status"> : Tình trạng </label>
                        </div>
                        <div class="col-sm-3">
                            <label> <input type="checkbox" name="new" ng-model="products.New" ng-checked="products.New"> : Sản phẩm mới</label>
                        </div>
                        <div class="col-sm-3">
                            <label> <input type="checkbox" name="viewHomes" ng-model="products.ViewHomes" ng-checked="products.ViewHomes"> : Trang chủ</label>
                        </div>
                        <div class="col-sm-3">
                            <label> <input type="checkbox" name="priority" ng-model="products.Priority" ng-checked="products.Priority"> : ưu tiên</label>
                        </div>
                        <div class="col-sm-3">
                            <label> <input type="checkbox" name="active" ng-model="products.Active" ng-checked="products.Active"> : Kích hoạt</label>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="inputPassword3" class="col-sm-2 control-label">Title</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" required name="title" ng-model="products.Title">
                        <span ng-show="frmUpdateProduct.title.$invalid" class="has-error">(*) Bắt buộc</span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputPassword3" class="col-sm-2 control-label">Từ khóa</label>
                    <div class="col-sm-10">
                        <textarea class="form-control" name="keyword" required ng-model="products.Keyword"></textarea>
                        <span ng-show="frmUpdateProduct.keyword.$invalid" class="has-error">(*) Bắt buộc</span>
                    </div>
                </div>

                <div class="form-group">
                    <label for="inputPassword3" class="col-sm-2 control-label">Thứ tự</label>
                    <div class="col-sm-1">
                        <input type="text" required class="form-control" name="ord" ng-model="products.Ord">
                        <span ng-show="frmUpdateProduct.ord.$invalid" class="has-error">(*) Bắt buộc</span>
                    </div>
                </div>

            </div>
            <!-- /.box-body -->
            <div class="box-footer">
                <button type="submit" class="btn btn-default" ui-sref="products">Hủy</button>
                <button type="submit" ng-disabled="frmUpdateProduct.$invalid" class="btn btn-success pull-right">Lưu</button>
            </div>
            <!-- /.box-footer -->
        </form>
    </div>
    <!-- /.box -->
    <!-- /.box -->
</section>